body{
  background-color:  #8AA29E;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  padding:0;
  margin:0;
}
header{
  font-size: 65px;
  color: white;
  text-align:center;
  font-family: 'Advent Pro', sans-serif;
  margin-bottom: 2px  ;
  padding: 0;
}

h1{
  margin-bottom: 0;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 40%;
    background-color: #686963;
    color: white;
    padding: 14px 20px;
    margin: 6px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #3D5467;
}
 .sign_in{
   margin-left: 30%;
   margin-right: 30%;
   margin-top: 0;
   border-radius: 5px;
   background-color: #f2f2f2;
   padding: 20px;
   width:300px;
 }
.botnav a{
  font-family: 'Open Sans', sans-serif;
  color: #686963;
  text-align: right;
  padding-right: 25px;
}
.botnav{
  text-align: right;

}
footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: #F1EDEE;
   color:#686963 ;
   text-align:left;
  padding-left: 15px;
}
