div {
    margin-right: 150px;
    margin-left: 80px;
}


.topnav {
    background-color: #8AA29E;
    overflow: hidden;
    width: 100%;
}

/* Style the links inside the navigation bar */
.topnav a {

    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #F1EDEE;
    color: #3D5467;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
.logoutButton{
  background-color: Transparent;
  border-width: thin;
  border-color: #3D5467;
  color: #3D5467;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  float: right;
  margin-right: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.logoutButton:hover{
  background-color: #3D5467;
  color:white;

}
.contButton {
    background-color: #F1EDEE;
    border: none;
    color: blue;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    float:right;
    margin-right: 5%;
    cursor: pointer;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    }
.contButton:hover {
      background-color: #BEBBBC;
      border: none;
    }


.logoutButton:hover{
  background-color: #3D5467;
  color:white;

}

.button {
    background-color: #F1EDEE;
    border: none;
    color: #3D5467;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    float:right;
    margin-right: 5%;
    }
  .button:hover {
      background-color: #686963;
      color:white;
      border: none;
    }

.i {
    border:#3D5467;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
body{
  font-family: 'Open Sans', sans-serif;
  color:#686963;
  background-color: white;

}

.intro {
  margin-right: 150px;
  margin-left: 80px;

}

#per1.text{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
#per1{
  display: inline-block;
  float: none;

}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 10px;
}
/* Add a black background color to the top navigation */

.collapsible {
    background-color: white;
    color: #686963;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    text-align: left;
    outline: none;
    font-size: 20px;
    border: none;
    border-bottom: 3px solid #3D5467;
    width: 100%
}


.active, .collapsible:hover {
    background-color: #8AA29E;
    color: white;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
h5{
  background-color: #white;
  color: #3D5467;
  font-size: 20px
}
