.topnav {
    background-color: #8AA29E;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #F1EDEE;
    color: #3D5467;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}
i {
    border:#3D5467;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
body{


  font-family: 'Open Sans', sans-serif;
  color:#686963;
  background-color: #F1EDEE;

}

footer{
  text-align: center;
  font-size: 10px;
}
/* Add a black background color to the top navigation */

.collapsible {
    background-color: #F1EDEE;
    color: #686963;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    /* border-bottom: solid, #686963; */
    text-align: left;
    outline: none;
    font-size: 20px;
    border-bottom: 3px solid #3D5467;
}


.active, .collapsible:hover {
    background-color: #8AA29E;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}
h5{
  background-color: #F1EDEE;
  color: #3D5467;
  font-size: 20px
}
