<!--How it works-->
<!-- Add in pictures and text-->
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href='../extras/style.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>How it Works</title>
  </head>
  <header>
    <div class="topnav">
      <a href='#'>RollCall</a>
      <a href='/'>Home</a>
      <a href='/howItWorks'>How it Works</a>
      <a href='/Contact'>Contact Us</a>
      <a href='/AboutUs'>About</a>
    </div>
  </header>

  <body>
    <p class= "howToDescript">
      <div>
        <h3>Are you confused about how RollCall works??</h3>
        <br>
        <br>
        First, make sure you sign in/sign up.
        <br>
        This allows us to keep track of your schedule and allows you to make any necessary edits.
        <br>
        <br>
        [space holder for front sign in page]

      <div>
        <br>
        On the input page, enter your courses and teachers according to the period.
        <br>
        It's important that you enter those exactly as you see it on your schedule.
        <br>
        [ ie. English 11 H & Waller ,E ]
        <br>
        Then, click submit to input your classes and teachers.
        <br>
        From there, your information is run through our database and compared to other students's data.
        <br>
        <br>
      </div>
      <img src='../extras/inputpage.jpg'>


      <div>
        After you've inputed your schedule, your account is updated with your new schedule.
        <br>
        You will see your schedule appear.
        <br>
        <br>
      </div>
      <img src='../extras/classes.jpg'>


      <br>
      <div>
        When you click on the down arrow, a list of your classmates will appear with their graduating year.
        <br>
        The classmates you see depend on the number of people who have contributted to the database.
        <br>
        Meaning, we only show the data that we have and if no one has inputed that as their course with that teacher, no one will show up as a classmate.
        <br>
        <br>
      </div>
      <img src='../extras/dropdown.jpg'>
    </p>
  </body>
  <footer>
    reserved for copyrights and frequestly asked questions
    <br>
    Roll Call was created by Shreya Shriram, Melody Ma, Tiffanie Chau, and Jasmine Melgoza.
  </footer>
</html>
