<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="298333638406-k0sokd49fqnqg2cujfr1mvpimvfcmem7.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../extras/homestyle.css">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:100|Open+Sans" rel="stylesheet">
    <title>RollCall Home</title>
    </head>
    <body>
      <header>
        <h1> RollCall</h1>
      </header>
    <center>
    <div class="sign_in">
      <!-- <form action="{{ url }}">
        <input type="submit" value="Sign in With Google">
      </form> -->

      <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
          <script>
            function onSignIn(googleUser) {
              // Useful data for your client-side scripts:
              var profile = googleUser.getBasicProfile();
              console.log("ID: " + profile.getId()); // Don't send this directly to your server!
              console.log('Full Name: ' + profile.getName());
              console.log('Given Name: ' + profile.getGivenName());
              console.log('Family Name: ' + profile.getFamilyName());
              console.log("Image URL: " + profile.getImageUrl());
              console.log("Email: " + profile.getEmail());

              // The ID token you need to pass to your backend:
              var id_token = googleUser.getAuthResponse().id_token;
              console.log("ID Token: " + id_token);
            };
          </script>
    </div>
  </center>

    <!--<button type="button">continue</button>-->


</div>

  </body>
  <footer>
    <nav class="botnav">
      <a href="/Contact">Contact Us</a>
      <a href="/AboutUs">About</a>
      <a href="/howItWorks">How it Works</a>
      <!-- ../extras/example.jpg-->

    </nav>
    <p>
   - All rights reserved - <a href="#">frequently asked questions</a> -
    <br>
      RollCall was created by Shreya Shriram, Melody Ma, Tiffanie Chau, and Jasmine Melgoza.
    </p>
  </footer>
</html>
