<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../extras/homestyle.css">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:100|Open+Sans" rel="stylesheet">
    <title>RollCall Home</title>
    </head>
    <header>
      <h1> RollCall</h1>
    </header>

    <body>
    <center>
    <div class=sign_in>
      <form>
        <input type="text" name="name" placeholder="Name" />
        <br>
        <input type="text" name="email" placeholder="Email" />
        <br>
        <input type="text" name="school" placeholder="School" />
        <br>

        <input type="submit" value="Submit">
      </form>
    </div>
  </center>

    <!--<button type="button">continue</button>-->


  </body>
  <footer>
    <nav class="botnav">
      <a href="/Contact">Contact Us</a>
      <a href="/AboutUs">About</a>
      <a href="/howItWorks">How it Works</a>
      <!-- ../extras/example.jpg-->

    </nav>
    <p>
    reserved for copyrights and frequestly asked questions
    <br>
      Roll Call was created by Shreya Shriram, Melody Ma, Tiffanie Chau, and Jasmine Melgoza.
    </p>
  </footer>
</html>
