<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <style>
    div {
        margin-right: 150px;
        margin-left: 80px;
    }
    </style>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../extras/homestyle.css">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro:100|Open+Sans" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <title>RollCall Home</title>
    </head>
    <body>
      <header>
        <h1> RollCall</h1>
      </header>
    <center>
    <div class="sign_in">
      <a href="{{ url }}"> <img src="../extras/btn_google.png"> </a>
      <!-- <form action="{{ url }}">
        <input type="submit" value="Sign in With Google">
      </form> -->
