<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
        <style>
    div {

        margin-right: 150px;
        margin-left: 80px;

    }
    </style>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../extras/style.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>RollCall Page2</title>
  </head>

  <header>
    <div class="topnav">
      <a href='#'>RollCall</a>
      <a href='/'>Home</a>
      <a href='/howItWorks'>How to Use</a>
      <a href='/Contact'>Contact Us</a>
      <a href='/AboutUs'>About</a>
    </div>
  </header>

  <body body style="margin:0;padding:0">
    <div class="intro">
      <h2>Hi John</h2>
      <p>Input your <strong>2018-19</strong> course schedule. Be sure to include all your information the same way it's written on your schedule.</p>
    </div>

    <div class="class_entry">

      <div class="gradDrop">
        <select>
          <option value="" disabled selected>Graduation Year</option>
          <option gradYr="2019">2019</option>
          <option gradYr="2020">2020</option>
          <option gradYr="2021">2021</option>
          <option gradyr="2022">2022</option>
        </select>
      </div>

      <div class="classInputCont">
<!---->
        <div id="per1">
          <h4>Period 1</h4>
          <form>
            <input type="text" name="field1" placeholder="Class Name" />
            <input type="text" name="field2" placeholder="Teacher" />
          </form>
        </div>

        <div id="per2">
          <h4>Period 2</h4>
          <form>
            <input type="text" name="field1" placeholder="Class Name" />
            <input type="text" name="field2" placeholder="Teacher" />
          </form>
        </div>

        <div id="per3">
          <h4>Period 3</h4>
          <form>
            <input type="text" name="field1" placeholder="Class Name" />
            <input type="text" name="field2" placeholder="Teacher" />
          </form>
        </div>

        <div id="per4">
          <h4>Period 4</h4>
          <form>
            <input type="text" name="field1" placeholder="Class Name" />
            <input type="text" name="field2" placeholder="Teacher" />
          </form>
        </div>

        <div id="per5">
          <h4>Period 5</h4>
          <form>
            <input type="text" name="field1" placeholder="Class Name" />
            <input type="text" name="field2" placeholder="Teacher" />
          </form>
        </div>

        <div id="per6">
          <h4>Period 6</h4>
          <form>
            <input type="text" name="field1" placeholder="Class Name" />
            <input type="text" name="field2" placeholder="Teacher" />
            <!-- <h5> <input type="text" name="field2" placeholder="Teacher" /></h5> -->
          </form>
        </div>

      </div>
    </div>

    <a href="/pg3">continue</a>
  </body>

  <footer>
    reserved for copyrights and frequestly asked questions
    <br>
    Roll Call was created by Shreya Shriram, Melody Ma, Tiffanie Chau, and Jasmine Melgoza.
  </footer>
</html>
